* {
    box-sizing: border-box;
    font-size: 62.5%;
    max-width: 100%;
}

body {
    background-color: #EBD8C3;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

header {
    font-family: 'Press Start 2P', cursive;
    background-color: #F8CB2E;
    color: #000;
    display: block;

}

header h1 {
    padding: .5rem;
    font-size: 3rem;
    color: #B22727;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    font-size: .8rem;
    justify-content: space-evenly;

}

.menu li {
    color: #B22727;
    margin: .8rem
}

.menu-icon div {
    width: 2.4rem;
    height: .25rem;
    background-color: #B22727;
    margin: .5rem 0;
    display: none;
}

#selfie {
    max-width: 30%;
    margin: 1rem;
}

a {
    text-decoration: none;
}

a:visited {
    color: #B22727;
}