:root {
    box-sizing: border-box;
    font-size: 62.5%;
    --backgroundColor: #F8CB2E;
    --mainColor: #006E7F;
    --accentColor: #B22727;
}

body {
    background-color: #EBD8C3;
}

header {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--backgroundColor);
}

header h1 {
    margin: 2rem;
    font-size: 4rem;
    color: var(--mainColor);
}

.dropdown {
    display: flex;
    align-items: flex-end;
}

.menu {
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
}

.menu li {
    color: var(--mainColor);
    margin: 1rem
}

.menu-icon {
    margin: 1rem;
    align-self: center;
    display: none;
}

.menu-icon div {
    width: 2.4rem;
    height: .25rem;
    background-color: var(--mainColor);
    margin: .5rem 0;
}

a {
    text-decoration: none;
    color: var(--mainColor);
}

a:visited {
    color: var(--mainColor);
}

main {
    display: flex;
    justify-content: space-between;
}

.selfie {
    width: 30%;
    margin: 1rem;
    align-self: flex-start;
}

#descr h2 {
    font-size: 2.5rem;
    font-family: 'Press Start 2P', cursive;
    margin: 1rem;
    border-bottom: .3rem solid var(--accentColor);
    padding-bottom: .3rem;
    color: var(--accentColor);

}

main div p {
    font-size: 2rem;
    margin: 1rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr, 1fr;
}

#project-section h2 {
    font-size: 2.5rem;
    font-family: 'Press Start 2P', cursive;
    border-bottom: .3rem solid var(--accentColor);
    padding-bottom: .3rem;
    margin: 1rem;
    color: var(--mainColor);
}

.project {
    opacity: 50%;
    box-shadow: 0 0 .7rem;
}

#refactor {
    position: relative;
    margin: 1rem;
    grid-column: 1 / 3;
    grid-row: 1 / 3;

}

#refactor h3 {
    position: absolute;
    font-size: 1.8rem;
    font-family: 'Press Start 2P', cursive;
    bottom: .8rem;
    left: .8rem;
    color: var(--accentColor);
    background-color: var(--backgroundColor);
    padding: 1rem;
}

#refactor img {
    width: 100%;
    height: 100%;
}

#map {
    position: relative;
    margin: 1rem;
}

#map h3 {
    position: absolute;
    font-size: 1.8rem;
    font-family: 'Press Start 2P', cursive;
    bottom: .8rem;
    left: .8rem;
    color: var(--accentColor);
    background-color: var(--backgroundColor);
    padding: 1rem;
}

#map img {
    width: 100%;
    height: 100%;
}

#snake {
    position: relative;
    margin: 1rem;
}

#snake h3 {
    position: absolute;
    font-size: 1.8rem;
    font-family: 'Press Start 2P', cursive;
    bottom: .8rem;
    left: .8rem;
    color: var(--accentColor);
    background-color: var(--backgroundColor);
    padding: 1rem;
}

#snake img {
    width: 100%;
    height: 100%;
}

.project:hover {
    opacity: 100%;
}

footer {
    font-family: 'Press Start 2P', cursive;
    background-color: var(--backgroundColor);
    display: flex;
    justify-content: flex-start;
    padding: .5rem;
}

footer a {
    margin: 1rem;
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    .dropdown {
        position: relative;
    }

    .menu {
        display: none;

    }

    .menu-icon {
        display: block;
    }

    .dropdown:hover .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 4rem;
        right: .2rem;
        background-color: var(--backgroundColor);
    }
}

@media screen and (max-width: 567px) {
    header h1 {
        font-size: 4rem;
    }

    main {
        flex-direction: column;
    }

    .selfie {
        width: 94%;
    }

    .container {
        grid-template-columns: 1fr;
    }

    #refactor {
        grid-column: 1 / 2;
    }
}